/* CheckoutForm.css */
.checkoutForm {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #ffffff;
  }
  
  .checkoutForm p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* Style for Stripe's CardElement */
  .StripeElement {
    height: 40px;
    padding: 10px 12px;
    width: 100%;
    color: #32325d;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    
    /* Adjust Stripe's input placeholder color */
    --stripe-placeholder-color: #aab7c4;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  
  .formBtn {
    display: block;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    background-color: #556cd6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #4453b5;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  