/* Base styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4; /* Light background for contrast */
}

h1 {
  font-size: 2.0rem;
  color: #333;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1);
}

.schedule-table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  margin-top: 20px;
}

.schedule-table th,
.schedule-table td {
  padding: 12px;
  text-align: center;
  border: 10px solid #ddd;

}

.schedule-table th {
  background-color: #333;
  color: #fff;
  width: 100px;
  border-radius: 20%;
}

.schedule-table td button {
  background-color: #555;
  color: #fff;
  padding: 8px 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.schedule-table td button:hover {
  background-color: #666;
}

.selected {
  background-color: #ccc;
}

@media (min-width: 768px) {
  .schedule-table {
    width: 80%; /* Larger screens have a more centered table */
  }
}

@media (min-width: 1024px) {
  .schedule-table th, .schedule-table td {
    padding: 15px; /* More padding for larger screens */
  }
}
