.schedule-table {
  width: 80%;
  border-collapse: collapse;
  border-radius: 20%;
  text-align: center;
  margin: 0 auto; /* Centers the table horizontally */
  margin-top: 50px;
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #ddd; /* Lighter border color */
  padding: 12px; /* Increased padding for better spacing */
  text-align: center;
  border-radius: 20%;
}

.schedule-table th {
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
  border-radius: 20%;
}

.schedule-table td button {
  background-color: #555; /* Dark button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 20%;
}

.schedule-table td button:hover {
  background-color: #020202; /* Darker button color on hover */
}

.selected {
  background-color: #ccc; /* Light background color for selected cell */
  border-radius: 20%;
}

.card-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  margin-top: 20px; /* Add some space above the card */
}

.card-style {
  width: 50%; /* Make the card wider */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add a subtle shadow for a modern look */
  transition: 0.3s; /* Smooth transition for hover effect */
  border-radius: 10px; /* Slightly round the corners for a modern look */
}

.card-style:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); /* More pronounced shadow on hover */
}

/* Adjust the button inside the card for a more modern look, if desired */
.card-style .btn-primary {
  background-color: #333; /* Example: a bright, modern blue */
  border: none;
  border-radius: 0; /* Optional: for a button with sharp corners */
  align-self: center;
}
