/* Global styles */
body {
  font-family: 'Poppins', sans-serif; /* Setting the font family */
  background-color: #EAEAEA; /* Background color of the body */
  margin: 0; /* Resetting margin */
  padding: 0; /* Resetting padding */
  color: #333; /* Default text color */
}

/* Heading styles */
h1 {
  font-size: 2.0rem; /* Setting font size */
  color: #333; /* Text color */
  text-align: center; /* Aligning text to center */
  margin-top: 2rem; /* Top margin */
  margin-bottom: 2rem; /* Bottom margin */
  text-transform: uppercase; /* Transforming text to uppercase */
  letter-spacing: 1.5px; /* Spacing between letters */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.1); /* Adding shadow to text */
}

/* Table styles */
.table {
  width: 100%; /* Setting table width */
  border-collapse: separate; /* Separating border collapse */
  border-spacing: 0 15px; /* Spacing between table rows */
  margin-top: 20px; /* Top margin */
}

/* Table cell styles */
.table th, .table td {
  padding: 15px; /* Padding for table cells */
  text-align: center; /* Aligning text to center */
  background-color: #f0f0f3; /* Background color */
  border-radius: 8px; /* Border radius */
}

/* Table header styles */
.table th {
  background-color: #333; /* Header background color */
  color: #ffffff; /* Header text color */
  text-transform: uppercase; /* Transforming text to uppercase */
}

/* Table row hover effect */
.table tbody tr {
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transition effect */
}

.table tbody tr:hover {
  transform: translateY(-5px); /* Moving row up on hover */
  box-shadow: 0 12px 24px rgba(0,0,0,0.1); /* Adding shadow on hover */
}

/* Button styles */
.table td button {
  padding: 8px 16px; /* Button padding */
  background-color: #676767; /* Button background color */
  color: white; /* Button text color */
  border: none; /* Removing button border */
  border-radius: 8px; /* Button border radius */
  cursor: pointer; /* Cursor style */
  transition: background-color 0.3s, transform 0.2s; /* Transition effect */
}

/* Button hover effect */
.table td button:hover {
  background-color: #575757; /* Button background color on hover */
  transform: translateY(-2px); /* Moving button up on hover */
}

/* Input and form control styles */
.MDBInput, .form-control {
  border-radius: 10px; /* Border radius */
  border: 1px solid #ccc; /* Border style */
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1); /* Adding shadow */
}

/* Dropdown button styles */
.dropdown-button {
  width: auto; /* Setting width */
  margin-right: 10px; /* Right margin */
  background-color: #EAEAEA; /* Background color */
}

/* Dropdown item styles */
.dropdown-item {
  display: flex; /* Displaying as flex */
  align-items: center; /* Aligning items vertically */
}

/* Dropdown item hover effect */
.dropdown-item:hover {
  background-color: #f8f9fa; /* Background color on hover */
}

/* Dropdown item active effect */
.dropdown-item:active {
  background-color: #e9ecef; /* Background color on active */
}
